<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/edit.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body id="wrap">
  <audio autoplay src="https://archive.org/download/HarryPotter-hedwigTheme/Harry_Potter_Theme_Song_Hedwigs_Theme.ogg"></audio>
  <h1>Adjust Potion Inventory Page</h1>

  <form method="POST" action="/potions/<%=index%>?_method=PUT">
    Name: <input type="text" name="name" value="<%= potion.name%>">
    Effect: <input type="text" name="effect" value="<%=potion.effect%>">
    
     Available: <input type="checkbox" name="available"

    <% if(potion.available === true) { %>
      checked
    <% } %>
    >
    <br/>
    <input type="submit" name="submit changes"/>
  </form>

<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>