<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body id="wrap">
  <audio controls autoplay src="https://vignette.wikia.nocookie.net/harrypotter/images/f/ff/Hedwig%27s_Theme_%28Sample%29.ogg/revision/latest?cb=20130420060538"></audio>
  <h1>Slug & Jiggers</h1>
  <h2>Apothicary</h2>

  <ul>
      <% for (let i = 0; i < potions.length; i++) { %>
          <li>
            <a href="http://localhost:3000/potions/<%= i %>"><%= potions[i].name %></a>
            <form action="/potions/<%=i%>?_method=DELETE" method="POST" >
              <button class="button" type="submit">Remove Potion</button>     
  
            </form class="edit">
            <a href="/potions/<%=i%>/edit">Transmorgify</a>
          </li>
      <% } %>
  </ul>
<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>