<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
  <h1>Enter New Potion</h1>

  <form action="/potions" method="POST">
    Name: <input type="text" name="name"><br/>
    Effect: <input type="text" name="effect"><br/>
    Available: <input type="checkbox" name="Available"><br/>
    <input type="submit">
  </form>

</body>
</html>