<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/show.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body id="wrap">
  <h1>Potions</h1>

  <h3>Potion Name: <%= potion.name %></h3>
 
  <h4>Potion Effect: <%= potion.effect %></h4>

  <% if(potion.available === true) { %>
    <span>Available</span>
  <% } else { %>
    <span>Out of Stock</span>
  <% } %>

  <h5><a href="http://localhost:3000/potions/">back to Potion Inventory </a></h5>

  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>